botbuilder-integration-aiohttp>=4.14.0
botbuilder-core==4.14.4
botbuilder-schema==4.14.4
botframework-connector==4.14.4
botframework-streaming==4.14.4
boto==2.49.0
aiohttp
botbuilder-core
asyncio
cookiecutter==1.7.0
openai
opencensus-ext-azure==1.0.8
botbuilder-schema  
langchain
faiss-cpu
tiktoken
beautifulsoup4 
requests 
pytz
chromadb
pypdf
